My workflow.json
{
  "name": "WHATSAPP VENTAS",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "={{ $json.body.messages[0].text }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "2b435080-f3be-45bd-9ee2-461289d81771"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ce02913f-6854-4bc5-915f-b6073adb64ab",
                    "leftValue": "={{ $json.body.messages[0].voice.id }}",
                    "rightValue": "={{ $json.body.messages[0].voice }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        560,
        80
      ],
      "id": "9147137b-5f6e-4c69-bb5f-a797ccd81989",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28b24f3b-4510-46f6-b1a6-89cdf9e64858",
              "name": "Texto",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        80
      ],
      "id": "f2e7419a-9183-451f-b847-81c58c1b659c",
      "name": "Captura Texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9956d73-5ef2-4ebc-8037-bbe5c51ba5eb",
              "name": "nombre_producto",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "6ad01576-7555-472d-b02d-f8b3690e6ca2",
              "name": "CHAT_ID",
              "value": "={\n  \"chatId\": \"{{ $json.text }}\"\n}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        560
      ],
      "id": "5619af10-a937-4084-a90a-a8a7e58e2cca",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c15efbaa-3769-4b3b-852a-c9a1af203b39",
                    "leftValue": "={{ $('IA INTENCIÓN CLIENTE').item.json.output }}",
                    "rightValue": "crema_antiarrugas.jpg",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SOLICITUD_CREMA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "02888f76-de43-438a-a12e-7f54c4f977ee",
                    "leftValue": "={{ $('IA INTENCIÓN CLIENTE').item.json.output }}",
                    "rightValue": "gotas_ansiedad.jpg",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SOLICITUD_GOTAS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('IA INTENCIÓN CLIENTE').item.json.output }}",
                    "rightValue": "=CONVERSACION",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "bd5d8ce2-56c9-40e2-9994-469a412f6549"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CONTINUAR CONVERSACIÓN"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca803938-7b1c-49a4-8c0e-b9eb3e92ba9b",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "=PRECIO",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PRECIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a640729a-001d-4f55-a10a-5b5cb3a793a4",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "=COMPRAR",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COMPRA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47435f1c-e0b0-4420-ac7c-7d6f36529017",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "=SERVICIOS",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SERVICIOS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "795bcd84-45b1-4d60-be9a-df04eb83ca63",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "=NO DISPONIBLE",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NO DISPONIBLE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        640,
        560
      ],
      "id": "fe699fab-bd3f-4c35-bd78-b848933883b6",
      "name": "Switch1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "=Eres el asistente virtual de Spa Aura Vital, un spa que ofrece productos y servicios de bienestar.\nRespondes por WhatsApp como si fueras una persona real del equipo: cercana, cálida, humana y profesional.\nTus respuestas deben ser cortas, amables, sin rodeos, en una sola línea y con máximo 1 emoji. Evita frases robotizadas o largas.\n\n📥 CONTEXTO DEL CLIENTE\nMensaje del cliente: {{ $('Code').item.json.text }}\nEtiqueta detectada: {{ $json.output }}\n\n🔁 MEMORIA Y SALUDO INICIAL\nAntes de responder, verifica la memoria:\n\nSi hola = true, no saludes.\n\nSi hola no existe, significa que es el primer mensaje del cliente.\n👉 En ese caso, elige aleatoriamente uno de estos saludos cálidos y agradables:\n\n\"¡Hola! Qué alegría tenerte por aquí 😊 ¿En qué te puedo ayudar hoy?\"\n\n\"¡Hola! Bienvenid@ a Spa Aura 🌿 Cuéntame, ¿qué estás buscando?\"\n\n\"¡Hola! ¿Cómo estás? Gracias por escribirnos a Spa Aura 💖\"\n\nDespués de saludar por primera vez, guarda esto en la memoria:\nhola = true\n\n🧴 PRODUCTOS Y PRECIOS\n\ngotas_ansiedad.jpg → Gotas para la ansiedad: $30.000\n\ncrema_antiarrugas.jpg → Crema antiarrugas: $40.000\n\n🎯 RESPUESTAS SEGÚN LA ETIQUETA (si coincide con el texto):\n\nEtiqueta: crema_antiarrugas.jpg\n\"Me encanta esta crema, deja la piel súper suave y rejuvenecida ✨\"\n\nEtiqueta: gotas_ansiedad.jpg\n\"Estas gotas me ayudaron mucho en días de estrés. Son naturales y efectivas 🍃\"\n\nEtiqueta: PRECIO\n\"Vale $30.000. Yo las probé y me ayudaron a dormir mejor 🌿\"\n\nEtiqueta: COMPRAR\n\"Dale. Banco Caribe, cuenta 9876543210. Mándame el comprobante y ya con eso seguimos 📝\"\n\nEtiqueta: NO DISPONIBLE\n\"Por ahora no contamos con eso, pero puedo ayudarte a elegir algo que te guste.\"\n\nEtiqueta: SERVICIOS\n\"Tenemos masajes relajantes de 30 y 60 minutos. Son una delicia.\"\n\nEtiqueta: CONVERSACION\nSi hola = true, responde con amabilidad sin saludar.\nSi hola no existe, usa uno de los saludos cálidos definidos arriba y guarda hola = true.\n\n⚠️ SI LA ETIQUETA NO COINCIDE CON EL TEXTO\nIgnora la etiqueta y responde solo según el contenido del mensaje.\n\n🚫 REGLAS FINALES\n\nNo repitas saludos.\n\nNo inventes productos.\n\nNo uses más de 1 emoji por mensaje.\n\nSolo responde una línea por turno.\n\nNo escribas explicaciones técnicas ni menciones internas de etiquetas o flujos."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1120,
        1008
      ],
      "id": "d05f174d-2fef-443e-b30c-f524c530e9e2",
      "name": "AI CONVERSACIÓN"
    },
    {
      "parameters": {
        "jsCode": "let extractedText = '';\n\nfor (const item of items) {\n  if (item.json.text && item.json.text.trim() !== '') {\n    extractedText = item.json.text.trim();\n    break;\n  }\n  if (item.json.Texto && item.json.Texto.trim() !== '') {\n    extractedText = item.json.Texto.trim();\n    break;\n  }\n}\n\nreturn [{ json: { text: extractedText } }];\n\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        288
      ],
      "id": "59aabaea-0eaf-4638-8f1a-6be6d6f792fb",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Eres un asistente que clasifica mensajes de clientes en una de estas intenciones claras, usando palabras clave y contexto. Tu tarea es identificar la intención principal del mensaje, sin adivinar ni extenderte.\n\n---\n\n🔹 CATEGORÍAS POSIBLES:\n\n1. **crema_antiarrugas.jpg** → Si el mensaje menciona exactamente “crema” y “antiarrugas” juntos.\n\n2. **gotas_ansiedad.jpg** → Si el mensaje menciona exactamente “gotas” y “ansiedad” juntos.\n\n3. **COMPRAR** → El cliente expresa intención clara de adquirir algo.\nPalabras clave típicas: “quiero comprar”, “me interesa”, “cómo pago”, “compra”, “ordenar”.\n\n4. **PRECIO** → Pregunta exclusivamente por el valor o costo.\nPalabras clave típicas: “cuánto cuesta”, “precio”, “costo”, “valor”, “tarifa”.\n\n5. **SERVICIOS** → Pregunta por servicios que ofrece el spa.\nPalabras clave típicas: “qué servicios”, “masajes”, “tratamientos”, “aromaterapia”, “uñas”.\n\n6. **CONVERSACION** → Mensajes cortos, saludos o sin intención clara de compra.\nEjemplos: “hola”, “buenos días”, “gracias”, “qué tal”, “cómo estás”, “hey”.\n\n7. **NO DISPONIBLE** → Menciones de productos que no están en el catálogo (por ejemplo, “crema piel grasa”, “suero facial”, etc.).\n\n---\n\n🎯 REGLAS CLAVE:\n\n- Solo responde con una **etiqueta exacta** de esta lista:  \n  `crema_antiarrugas.jpg`, `gotas_ansiedad.jpg`, `COMPRAR`, `PRECIO`, `SERVICIOS`, `CONVERSACION`, `NO DISPONIBLE`.\n\n- **No escribas saludos, comentarios ni explicaciones. Solo la etiqueta exacta.**\n\n---\n\n📌 EJEMPLOS:\n\n“¿Tienen crema antiarrugas?” → crema_antiarrugas.jpg  \n“Quiero comprar gotas para la ansiedad” → COMPRAR  \n“¿Cuánto cuesta la crema antiarrugas?” → PRECIO  \n“¿Qué servicios ofrecen?” → SERVICIOS  \n“Hola, ¿cómo estás?” → CONVERSACION  \n“Busco crema para piel grasa” → NO DISPONIBLE\n\n---\n\n🧠 CONTEXTO:\n\nEste es el mensaje del cliente:  \n**{{ $json.text }}**\n\nAhora clasifícalo con precisión, siguiendo las reglas anteriores.  \nSolo responde una de las 7 etiquetas exactas.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        272,
        640
      ],
      "id": "9ce4b079-1944-470c-95f1-960be163a57d",
      "name": "IA INTENCIÓN CLIENTE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "311ec3ab-22f8-458b-a2b5-caa1c9b5b725",
              "name": "delay",
              "value": "={{ ($json.output.length + 40) * 5 }}\n\n\n\n\n",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        1008
      ],
      "id": "d5dfb705-cf86-423a-9203-01bc4ee3ac92",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const producto = ($json[\"nombre_producto\"] || \"\").toLowerCase().replace(\".jpg\", \"\").trim();\n\nconst chatId = $json[\"to\"] || $('Telegram Trigger').first().json.message.chat.id;\n\nlet urlImagen = \"\";\n\nif (producto.includes(\"gotas\")) {\n  urlImagen = \"https://i.ibb.co/zHPvkR1f/gotas-ansiedad.jpg\";\n} else if (producto.includes(\"crema\")) {\n  urlImagen = \"https://i.ibb.co/dwRt9F07/crema-antiarrugas.jpg\";\n} else {\n  urlImagen = \"https://i.ibb.co/dwRt9F07/crema-antiarrugas.jpg\"; // fallback\n}\n\nreturn [{\n  json: {\n    to: chatId,\n    media: urlImagen,\n    productoRecibido: producto\n  }\n}];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        560
      ],
      "id": "87ac8e7f-d011-421b-af5a-d5de0d9e1763",
      "name": "Code1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.output }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1232,
        1216
      ],
      "id": "377b7764-1df3-4c4f-89f8-6b9c8785065e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dac10c31-9f63-43c2-891c-98a363fcba1f",
              "leftValue": "={{ $json.body.messages[0].from_me }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        96
      ],
      "id": "994addd3-a4bb-4472-8aa0-6e7b64d62622",
      "name": "If",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        464,
        288
      ],
      "id": "5dbf3cbd-99e1-4d51-8a8a-89be346d05fe",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.text }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        384,
        864
      ],
      "id": "9a749575-4b83-42b6-8cf5-5bc86a829d11",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1504,
        768
      ],
      "id": "5074448e-1481-434c-99cd-b3be0395af01",
      "name": "Simple Memory2",
      "notesInFlow": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code').item.json.text }}",
        "options": {
          "systemMessage": "=Eres el asistente virtual de Spa Aura Vital, un spa que ofrece productos y servicios de bienestar.\nRespondes por WhatsApp como si fueras parte del equipo humano: de forma cálida, profesional y natural.\nUsa frases cortas, amables, confiables y sin rodeos. Nunca parezcas un robot.\n\n🧠 LÓGICA DE SALUDO (usa solo la memoria, no el JSON)\nAntes de responder, revisa si en la memoria existe la variable hola.\n\nSi hola es igual a true, significa que ya saludaste antes. 👉 En ese caso, responde directo, sin decir \"Hola\".\n\nSi hola no existe en la memoria, significa que es la primera vez que hablas con el cliente. 👉 Entonces, elige aleatoriamente uno de estos tres saludos y úsalo tal cual, sin cambiarlo:\n\n¡Hola! ¿Cómo estás? Gracias por escribirnos a Spa Aura 💖\n\n¡Hola! Qué alegría tenerte por aquí 😊\n\n¡Hola! Bienvenid@ a Spa Aura, ¿cómo te podemos ayudar? 🌿\n\nDespués del saludo, responde directamente según la etiqueta, en la misma línea.\nAl terminar, guarda esto en memoria:\n\n{\"hola\": true}\n\n⚠️ Si el mensaje del cliente contiene tanto un saludo como una pregunta sobre un producto o servicio (por ejemplo: “Hola, ¿tienes gotas para la ansiedad?”), haz ambas cosas en una sola línea: saluda (si es la primera vez) y responde inmediatamente sobre el producto. No repitas el saludo.\n\n⚠️ Nunca adivines si ya saludaste o no. Decide solo con base en la memoria hola.\n\n📥 CONTEXTO DEL MENSAJE DEL CLIENTE\nTexto recibido:\n{{ $json.text }}\n\nEtiqueta detectada:\n{{ $json.output }}\n\nID de conversación:\n{{ $('Code').item.json.chatId }}\n\n🎯 RESPUESTAS SEGÚN LA ETIQUETA\n🧴 Etiqueta: crema_antiarrugas.jpg\nFrase cálida y natural describiendo la crema. Máximo un emoji.\n\nEjemplos:\n\nEsta crema me la aplico para firmeza y textura. Te va a encantar ✨\n\nEsta es de las favoritas para arrugas. Te deja la piel suavecita 👌\n\n💧 Etiqueta: gotas_ansiedad.jpg\nFrase personal sobre las gotas. Máximo un emoji.\n\nEjemplos:\n\nEstas goticas me han servido mucho en días de estrés. Mira 👇\n\nEstas son las más pedidas para relajarse. Te van a caer buenísimo 😌\n\n💰 Etiqueta: PRECIO\nSolo el precio + comentario personal. Nunca saludes.\n\n🛒 Etiqueta: COMPRAR\nSolo datos de pago. Nunca saludes.\n\n❌ Etiqueta: NO DISPONIBLE\nMensaje cálido, sin saludo, ofreciendo alternativas.\n\n💆‍♀️ Etiqueta: SERVICIOS\nFrase corta sobre servicios. No saludes si ya lo hiciste.\n\n💬 Etiqueta: CONVERSACION\nSaludo breve solo si no se ha saludado antes. Si ya saludaste, responde con amabilidad.\n\n⚠️ REGLAS FINALES\nNunca repitas saludos. Usa solo la memoria.\n\nSolo una frase por turno.\n\nMáximo un emoji por mensaje.\n\nTodo en una sola línea.\n\nNo inventes. Responde solo con base en la etiqueta y la memoria.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1360,
        560
      ],
      "id": "88c79630-5b72-4ace-9995-dc48bc14de49",
      "name": "SALUDO INICIAL"
    },
    {
      "parameters": {
        "url": "={{ $('WHATSAPP').item.json.body.messages[0].voice.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        288
      ],
      "id": "93dd289f-2e0e-41d2-bb81-eb79d5a6ff14",
      "name": "Capturar Audio"
    },
    {
      "parameters": {
        "content": "RECEPCIÓN DE MENSAJE WHATSAPP\n",
        "height": 416,
        "width": 736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ac39b0a6-b103-459b-92ee-211e913bc483",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "PROCESAMIENTO DE MENSAJE\n\n",
        "height": 416,
        "width": 732,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "ca31f066-9457-4318-ad3c-b97b959c08de",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "ANÁLISIS INTENCIÓN CLIENTE",
        "height": 448,
        "width": 816,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        528
      ],
      "id": "c1c376dd-5a19-485b-90d9-0e172ba09fc9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "SALUDO INICIAL Y ENVÍO IMAGEN",
        "height": 400,
        "width": 1092
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        480
      ],
      "id": "31448352-65d8-4f52-8a47-25d4d2c23a0d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "CONVERSACIÓN Y CIERRE DE VENTA",
        "height": 448,
        "width": 776,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        928
      ],
      "id": "13794033-0cd1-41ed-91e8-9605d5bb0f1f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro-preview-03-25",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro-preview-03-25"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1152,
        288
      ],
      "id": "e0c4e1f2-f9f9-4c8f-89a7-b64946eaa096",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "aoP7mpVQcF29yqsT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        832
      ],
      "id": "e78f48fc-f1fc-4b2a-b937-95e2ee744ad0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aoP7mpVQcF29yqsT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1104,
        1200
      ],
      "id": "4a4acef7-2264-4089-b137-dfd0e697af6b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "aoP7mpVQcF29yqsT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1344,
        752
      ],
      "id": "0ad1f013-8658-440e-a387-8fa2b72103ca",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "aoP7mpVQcF29yqsT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        96
      ],
      "id": "cf4491bb-6744-438a-a4b4-edd0e233c5f0",
      "name": "Telegram Trigger",
      "webhookId": "e984a399-f475-472e-a3da-7cc13a87f075",
      "credentials": {
        "telegramApi": {
          "id": "6i01BraJDgu81TZF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "=1155173366\n",
        "file": "={{ $('Code1').item.json.media }}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1872,
        576
      ],
      "id": "873d80d3-d230-42f0-b76a-e45d1d0ccacb",
      "name": "Send a photo message",
      "webhookId": "ab60f7af-a9d0-4460-8557-78d60deb558c",
      "credentials": {
        "telegramApi": {
          "id": "6i01BraJDgu81TZF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1155173366",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        576
      ],
      "id": "2a6a979f-4c9a-4075-9ae4-10b7c9831083",
      "name": "Send a text message",
      "webhookId": "36b56c0d-7da6-4cf5-9589-3101f3435847",
      "credentials": {
        "telegramApi": {
          "id": "6i01BraJDgu81TZF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1155173366",
        "text": "={{ $('AI CONVERSACIÓN').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        1008
      ],
      "id": "159b0266-6bc2-4f92-a2ac-e44394d6e196",
      "name": "Send a text message1",
      "webhookId": "36b56c0d-7da6-4cf5-9589-3101f3435847",
      "credentials": {
        "telegramApi": {
          "id": "6i01BraJDgu81TZF",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Captura Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Capturar Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura Texto": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI CONVERSACIÓN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI CONVERSACIÓN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI CONVERSACIÓN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI CONVERSACIÓN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI CONVERSACIÓN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI CONVERSACIÓN": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "IA INTENCIÓN CLIENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA INTENCIÓN CLIENTE": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "SALUDO INICIAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI CONVERSACIÓN",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "IA INTENCIÓN CLIENTE",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "SALUDO INICIAL",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SALUDO INICIAL": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capturar Audio": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "IA INTENCIÓN CLIENTE",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI CONVERSACIÓN",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "SALUDO INICIAL",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d4482f52-e850-4154-afde-fe20103a86f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b6e0974b45e037e3ce8ebbf16cc73c08da27cdc6b77e712b93b146c93369bc0"
  },
  "id": "OuLIvZFzC4kr1zm6",
  "tags": []
}
